.MenuIcons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
    margin-top: 30px;

    .menu-div{
        transition: box-shadow .3s;
        margin-bottom: 20px;
        border-radius:10px;
        float: left;
        display: flex;
        padding: 5px 5px;
        width: 70%;
        align-items: center;

        &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2);
            font-weight: bolder;
        }
    }
}