.ProfileData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(202, 201, 201);
    padding: 30px 0px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);


    .userInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .top {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                font-weight: bold;
                font-size: 20px;
            }
            
            
        }
        
        
        .connection {
            display: flex;
            gap: 40px;
            
            span {
                font-weight: 500;
                cursor: pointer;
            }
        }
        
        .userDescription {
            display: flex;
            flex-direction: column;
        }
    }
    
}