.userPosts {
    margin-top: 15px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;

    .userpost {
        display: flex;
        align-items: center;
        width: 100%;

        img {
            flex: 1;
            width: 100%;
            height: 320px;
            object-fit: cover;
            -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
        }
    }
}